.wrap {}

.nav {position: fixed; top: 0; bottom: 0; width: 260px; padding: 10px; background: #8e6646;}
.nav .box {margin: 0 0 20px;}
.nav .box a {color: #ffffff;}
.nav .box .title {margin: 0 0 5px; font-size: 25px;}
.nav .box li {margin: 0 0 3px; text-decoration: underline; text-indent: 20px;}

.section {width: 100%; padding: 50px 10px 50px 270px; background: #828282;}
.section .box {width: 100%; margin: 0 0 20px; padding: 10px 15px 40px; background: #ffffff;}
.section .box .title {margin: 0 0 35px; font-size: 30px; text-decoration: underline;}
.section .box .type {position: relative; margin: 0 0 40px;}
.section .box .type h2 {width: 100%; margin: 0 0 15px; padding: 0 0 5px; border-bottom: 2px solid rgb(153, 153, 153); font-size: 16px;}
.section .box .type h2 span {font-size: 12px; color: #adadad;}
.section .box:last-child,
.section .box .type:last-child {margin: 0;}