* {
	box-sizing: border-box;
}

.scene {
	border: 1px solid #ccc;
	position: relative;
}

.scene--cube {
	width: 200px;
	height: 200px;
	margin: 80px 0;
	perspective: 147px;
	animation: first 5s;
	/* animation: second 5s 5s;  */
}

@keyframes first {
	0% {
		perspective: 2px;
	}

	100% {
		perspective: 147px;
	}
	100% {
		perspective-origin: 50% 50%;
	}
	0% {
		perspective-origin: 100% 100%;
	}
}

@keyframes second {
	0% {
		perspective-origin: 50% 50%;
	}
	100% {
		perspective-origin: 100% 100%;
	}
}


.cube {
	width: 200px;
	height: 200px;
	position: relative;
	transform-style: preserve-3d;
	transform: translateZ(-100px);
}

.cube__face {
	position: absolute;
	width: 200px;
	height: 200px;
	border: 2px solid black;
	line-height: 200px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	text-align: center;
}

.cube__face--front {
	background: hsla(0, 100%, 50%, 0.7);
}

.cube__face--back {
	transform: rotateY(180deg) translateZ(100px);
	background: hsla(120, 100%, 50%, 0.7);
}

.cube__face--right {
	transform: rotateY(90deg) translateZ(100px);
	background: hsla(60, 100%, 50%, 0.7);
}

.cube__face--left {
	transform: rotateY(-90deg) translateZ(100px);
	background: hsla(180, 100%, 50%, 0.7);
}

.cube__face--top {
	transform: rotateX(90deg) translateZ(100px);
	background: hsla(240, 100%, 50%, 0.7);
}

.cube__face--bottom {
	transform: rotateX(-90deg) translateZ(100px);
	background: hsla(300, 100%, 50%, 0.7);
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.grid2 {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
}