a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  a { color: inherit; text-decoration: none;}

  .wrap_box { padding: 0 20px;}
/* slick */
  .slider-for { width: 100%; height: 250px;}
  .slider-for .item { width: 100%; height: 100%;}
  /* .slider-for p { width: 100%; min-height: 100%;} */
  .slider-nav { position: relative; width: 100%; height: auto; }
  .slider-nav .slick-track{ height: auto; }
  .slider-nav .item {  position: relative; bottom: 50px; width: 270px; height: 145px; margin: 0 10px; background: red;}
  /* .slick-arrow { position: absolute; top: 50%; z-index: 50; margin-top: -12px;} */
  /* .slick-prev { left: 0;} */
  /* .slick-next { right: 0;} */
/* end slick */

  .slider-for .item:nth-child( 2n+1 ) { background: #1C0883; color: white; }
  .slider-for .item:nth-child( n+2 ) { background: #5334BB; color: white; }
  .slider-for .item:nth-child( n+3 ) { background: #3983FE; color: white; }
  .main_now { position: relative;  padding: 25px 20px; text-align: center;}
  .main_now h3 { font-size: 1.1rem; font-weight: bold;}
  .main_now p { margin: 10px 0; font-size: 0.75rem; color: gray; }
  .data_box { overflow: hidden; width: 100%; }
  .box { float: left; width: 48%; margin: 0px 0px 5px 5px; padding: 10px 0; background: #f8f8f8; }
  .box:nth-child(2n+1) { margin-left: 0;}
  .box img { width: 30px;}
  .box p { margin: 0;}
  .box p:last-child { font-weight: 600; font-size: 16px; color: black;}
  .invest_detail { width: 100%; padding: 10px 0; border: 1px solid #41abff; font-size: 0.85rem;}

  .main_calculate { position: relative; width: 100%; padding: 30px 0; font-size: 1.25em; text-align: center; background: #f5fbff;}
  .main_calculate p { margin: 0 0 10px; }
  .main_calculate p:last-child { font-size: 0.75rem; color: #999; }
  .won { display: inline-block; font-size: 1.25em; color: #41abff; border-bottom: 1px solid #41abff;}
  .inline-block { display: inline-block; margin: 0 0 10px;}
  .inline-block select { padding: 5px 0; border: none; border-bottom: 1px solid #41abff; font-size: inherit; color: #41abff; }
  /* background: url('./bg_calc_arrow_down.png') no-repeat; background-size: 17px 13px; appearance: none; */

  .faq { position: relative; width: 100%; padding: 25px 20px; background: #41abff; }
  .faq h3 { margin: 0 0 10px; color: white; font-weight: bold;}
  .faq ul { list-style: none;}
  .faq li { position: relative; width: 100%; margin: 5px 0; padding: 15px 15px; background: white;}
  .faq li a::after{ position: absolute; top: 20px; right: 15px; display: block; content: ''; width: 17px; height: 17px; background: url('./btn_more_large.png') no-repeat; background-size: 17px 17px;}
  .more { position: absolute; top: 24px; right: 10px; color: white; font-size: 13px;}

  .news { position: relative; padding: 25px 20px; font-weight: bold; }
  .news p { height: auto; padding: 0 0 20px; border-bottom: 1px solid #ececec; }
  .more_news { color: black; font-weight: normal; }

  .event { position: relative; padding: 25px 20px; font-weight: bold;}
  .event img { width: 100%; height: 102px; margin: 15px 0;}