a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background: gray;
}

.box {
    width: 300px;
    height: 400px;
    background: #fff;
    position: relative;
}

.img_box {
    width: 250px;
    margin: 0 auto;
    z-index: 20;
}

.img_box img {
    width: 100%;
}

.img_cover {
    width: 250px;
    height: 50px;
    background: #fff;
    transform: skewY(-5deg);
    position: relative;
    bottom: 17px;
    transition: transform 2s;
    /* transition: width 2s; */
    /* transition-timing-function: linear; */
}

/* .img_cover:hover {
    transform: skewY(4deg);
    width: 300px;
} */

.title, .p {
    z-index: 9999;
    width: 250px;
    margin: 7px auto;
}