body { font-family: "Open Sans"; }

.header_wrap { position: fixed; width: 100%; color: #f2f2f2; text-align: center; }

.header_wrap .header_notice { height: 50px; background: #222222; line-height: 50px; }

.header_wrap .header_notice_img { margin-right: 6px; vertical-align: middle; }

.header_wrap .header_notice_left { float: left; font-size: 13px; letter-spacing: -0.6px; }

.header_wrap .header_notice_right { float: right; font-size: 12px; }

.header_wrap .header_notice_right .header_facebook { margin-left: 6px; }

.header_wrap .header_nav { border-bottom: 1px solid #e3e3e3; background: #ffffff; color: #222222; }

.header_wrap .header_nav .header_nav_inner { width: 1180px; height: 80px; margin: 0 auto; }

.header_wrap .header_nav .header_nav_inner .header_nav_left { float: left; padding: 20px 0; }

.header_wrap .header_nav .header_nav_inner .header_nav_center { display: inline-block; }

.header_wrap .header_nav .header_nav_inner .header_nav_center .header_main_nav > li:hover { border-bottom: 4px solid #4874e9; color: #4874e9; }

.header_wrap .header_nav .header_nav_inner .header_nav_center .header_main_nav li { display: inline-block; padding: 0 10px; line-height: 76px; }

.header_wrap .header_nav .header_nav_inner .header_nav_center .header_main_nav li .header_sub_nav { display: none; position: absolute; left: 0; right: 0; z-index: -1; width: 100%; height: 70px; font-size: 16px; background: rgba(255, 255, 255, 0.95); color: #222222; -webkit-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.05); box-shadow: 0 5px 14px rgba(0, 0, 0, 0.05); }

.header_wrap .header_nav .header_nav_inner .header_nav_center .header_main_nav li .header_sub_nav li { line-height: 70px; }

.header_wrap .header_nav .header_nav_inner .header_nav_center .header_main_nav li .header_sub_nav li:hover { color: #4874e9; }

.header_wrap .header_nav .header_nav_inner .header_nav_center .header_main_nav li .hover { display: block; }

.header_wrap .header_nav .header_nav_inner .header_nav_right { float: right; padding: 21px 0; }

.header_wrap .header_nav .header_nav_inner .header_nav_right a { float: left; }

.header_wrap .header_nav .header_nav_inner .header_nav_right a .auth_box { width: 68px; height: 28px; margin: 5px; border: 1px solid #f2f2f2; border-radius: 3px; font-size: 12px; line-height: 26px; }

.header_wrap .header_nav .header_nav_inner .header_nav_right a:last-child .auth-box { margin-right: 0; }

.header_area_hidden { width: 100%; height: 130px; }
