.grid {
    overflow: hidden;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);

    div {
        border: 1px solid gray;
    }

    .photo {
        background: blue;
        grid-row-end: span 2;
    }

    .project {
        background: gray;
        grid-row-end: span 3;
    }

    .blog {
        background: greenyellow;
        grid-row-end: span 1;
    }
}

// html {
//     box-sizing: border-box;
// }

// ::before,
// ::after {
//     box-sizing: inherit;
// }

// .grid {
//     margin: 1.5em auto;
//     max-width: 1024px;
//     column-count: 4;
//     column-gap: 1.5em;

//     .item {
//         display: inline-block;
//         width: 100%;
//         margin: 0 0 1em;
//     }
// }
