.box { width: 500px; }
table td { border-right: 1px solid #e3e3e3; }
table td:last-child { border-right: 0; }

/* 한줄처리 */
.text-overflow1 { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/* 두줄처리 */
/* -webkit-line-clamp: 이걸로 2, 3, 4 ...줄 설정 가능 */
.text-overflow2 { display: -webkit-box; overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}