.scrollmenu {
    background: #333;
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px;
}

.scrollmenu a:hover {
    background: #777;
}