a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.header {
  position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 105px;
    display: flex;
    flex-direction: column;
    background: #fff;
    z-index: 1000;
}

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: gray;
}

.page {
  left: 0;
  width: 100%;
  background: #fff;
}

.template {
  /* position: relative; */
  background: #fff;
}

.logged-out {
  position: relative;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 0 40px;
  max-width: 1420px;
  margin: 0 auto;
}

.logged-out .container {
  position: relative;
  width: 50%;
  display: inline-block;
  min-height: 100%;
  overflow: hidden;
}

.logged-out .container.symbol-wrapper {
  position: absolute;
  right: 40px;
  min-width: 53vh;
}

.symbol-mask {
  overflow: hidden;
  position:absolute;
  width: 100%;
}

.symbol-left{
  top:100%;
  left:0;
  width:36%;
  height:100%;
  background: #af1f1f;


  /* animation-timing-function: linear; */
  animation-direction: alternate;

  animation-name: symbol-side; /* 애니메이션 이름 */
  animation-duration: .75s; /* 몇 초안에 일어날지 */
  animation-iteration-count:1; /*반복횟수*/
  /* animation-direction:alternate; 종료 후 다시 처음부터 시작할지 역방향으로 진행할지 결정  == 방향 지정 */
  animation-fill-mode: forwards; /* 애니메이션이 시작되기 전이나 끝나고 난 후 어떤 값이 적용될지 지정 */
  animation-timing-function:cubic-bezier(.19,1,.22,1);
  /* animation-timing-function:cubic-bezier(0, 1, 0.5, 1); */
}

.symbol-right {
  top: 100%;
  right: 0;
  width: 36%;
  height: 100%;
  background: #af1f1f;

  animation-name: symbol-side;
  animation-duration: .75s;
  animation-direction: alternate;
  animation-iteration-count:1;
  animation-delay: .46s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.19,1,.22,1);
}

.symbol-middle {
  width: 34%;
  /* height: 100vh; */
  height: 0px;
  /* min-height: 100vh; */
  left: 36%;
  /* transform: rotate(-19.5deg) scaleY(1.3); */
  transform:rotate(-19.5deg) scaleY(1.3);
  /* transform-origin:left; */
  background: #e50914;

  animation-name: symbol-middle;
  animation-duration: .23s;
  /* animation-direction: alternate; */
  animation-iteration-count:1;
  animation-delay: .23s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes symbol-side {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@keyframes symbol-middle {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}