a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a,img {border:none;}
ol,ul {list-style:none; margin:0; padding:0; border:0}

* {
	-webkit-box-sizing: border-box;	/* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box;	/* Firefox, other Gecko */
	        box-sizing: border-box;	/* Opera/IE 8+ */
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    overflow: hidden;
  }

  .mySlides > img {
      width: 100%;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #6D5F37;
    /* color: #f2f2f2; */
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation: slide 0.5s forwards;
    animation-delay: 2s;
    left: 0;
  }
  
  /* @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  } */
  
  @keyframes slide {
    /* from {opacity: .4}
    to {opacity: 1} */
    /* 0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); } */
  }

  .hard {
    animation: hard 0.5s forwards infinite;
    cursor: pointer;
  }

@keyframes hard {
  from {opacity: 1;}
  to {opacity: 0;}
}